head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  title youcontrol.io
  link(rel='stylesheet' type='text/css' href='css/main.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Muli')
  link(rel='icon' type='image/png' sizes='16x16' href='img/favicon-16x16.png')
  link(rel='icon' type='image/png' sizes='32x32' href='img/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='96x96' href='img/favicon-96x96.png')
