doctype html
html(lang='en')
  include includes/head.pug

  body
    include includes/nav.pug
    
    section.imprint
      .container
        .row
          .col-lg-8
            p
              | Logos of corporate sponsors are property of these sponsors.
              | The rest of this website is CC-SA-3.0
            p
              | Responsible for content of this website: <br>
              | <br>
              | Arvid Picciani <br>
              | Moellendorfstr 19 <br>
              | D-10367 Berlin <br>
              | Germany <br>
